<ol>
    
    <!-- <li>recipe ID: {{recipe.ID}}</li> -->
    <li>recipe Name: {{recipe.Name}}</li>
    <li>{{recipe.Image}}</li>
    <!-- <li>Category: {{recipe.CategoryID}}</li> -->
    <li>Preperation Time: {{recipe.PrepTime}}</li>
    <li>Difficulty: {{recipe.Difficulty}}</li>
    <!-- <li>{{recipe.Date}}</li> -->
    <!-- <li>User ID: {{recipe.UserID}}</li>

    <li>
        <ol>
            Ingredients:
            <li *ngFor="let item of recipe.Ingredients">{{item}}</li>
        </ol>
    </li>
    <li>Directions: {{recipe.Directions}}</li> -->
    
    
</ol>
<br/>